### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

/.idea
/.mvn/wrapper/maven-wrapper.jar

## /00-rewards-common/target/**
target/
